<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <img src="homepagelogo.jpg" width="400" height="100" />
  <h1>Enter new Task:</h1>
  <form action="newCustomer" method="POST">
    Task Name <input type="text" name="firstName" /> <br />
    Assign to <input type="text" name="person" /> <br />
    Task Due Date<input type="date" name="lastName" /> <br />
    Task status <input type="text" name="status" /> <br />
    Task Desc <input type="text" name="email" /><br />
<!--    Phone Number <input type="text" name="phoneNumber" /><br />-->
    <button>Submit</button>
  </form>

  Click <a href="/"> HERE</a> to return to home page!!

</body>

</html>